*{
    font-family: 'Poppins', sans-serif;
}
button{
    background-color : DodgerBlue;
    color : white;
    border 1px;
    border-radius : 4px;
    padding : 6px 12px;
    margin : 4px 2px;
}
input[type = text]{
    width : 30%;
    border : 2px solid black;
    border-radius: 4px;
    padding :6px 12px;
}

body{
    text-align: center;
}
.resultTable{
    display :inLine-block;
}
